.banner
{
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    object-fit: contain;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;

    
}
.banner_content
{
    
    color: white;
    padding: 0 20px;
   
  margin: auto 0;
   
   
}
.banner_title
{
    font-size: 40px;
    margin-bottom: 10px;
}

.banner_button
{
    color: white;
    background-color: #303030;
    border: none;
    padding: 10px 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;

}
.banner_description
{
    font-weight: 600;
    width: 60%;
}
.banner_button:hover
{
    background-color: white;
    color: black;
}
.banner_button :focus
{
    outline: none;
}
.banner_fade
{
    background:linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111 
    );
    height: 100px;
    width: 100%;
}